include encuentro/ui/media/*
include encuentro/logos/icon-*.png
include LEEME.txt
include AYUDA.txt
include README.txt
include COPYING
include AUTHORS
include encuentro.desktop
include source_encuentro.py 
include version.txt
include man/encuentro.1
