include encuentro/ui/media/*
include encuentro/logos/icon-*.png
include LEEME.txt
include AYUDA.txt
include README.txt
include COPYING
include AUTHORS
include encuentro.desktop
include source_encuentro.py 
include version.txt
include qtreactor/qt4reactor.py
include qtreactor/LICENSE
include qtreactor/README
include qtreactor/twisted/plugins/qt4.py
include man/encuentro.1
